/**=====================
     butto css start
==========================**/
.btn {
    padding: calc(10px + (18 - 10) * ((100vw - 320px) / (1920 - 320))) 18px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 700;
    border-radius: 13px;
    box-shadow: 0px 6px 21px 0px rgba(79, 79, 79, 0.4);
    transition: all 0.5s ease;
}
.btn-white {
    background: $white;
    color: $primary-color;
    position: relative;
    overflow: hidden;
    &:after {
        background: $primary-color;
        content: "";
        height: 155px;
        left: -75px;
        opacity: .2;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        width: 50px;
        z-index: 1;
    }
    &:hover {
        color: $primary-color;
        transition: all 0.5s ease;
        &:after {
            left: 120%;
            transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        }
    }
}
.btn-solid {
    background: $primary-color;
    color: $white;
    border: 1px solid $primary-color;
    &:hover {
        background: $white;
        color: $primary-color;
    }
}

.btn-green {
    background: $secondary-color;
    color: $white;
    border: 1px solid $secondary-color;
    box-shadow: none;
    padding: 10px 30px;
    &:hover {
        background: $white;
        color: $secondary-color;
    }
}
.btn-gradient {
    background-image: linear-gradient(to right, $primary-color, $secondary-color, $primary-color, $secondary-color);
    transition: all .4s ease-in-out;
    background-size: 300% 100%;
    padding: calc(10px + (18 - 10) * ((100vw - 320px) / (1920 - 320))) calc(30px + (50 - 30) * ((100vw - 320px) / (1920 - 320)));
    color: $white;
    &:hover {
        transition: all .4s ease-in-out;
        background-position: 100% 0;
        color: $white;
    }
}

.btn-uppercase {
    text-transform: uppercase;
}