/**=====================
     contact section css start
==========================**/
.contact-section {
    background-image: url(../images/contact/bg-shape.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: calc(40px + (100 - 40) * ((100vw - 320px) / (1920 - 320)));
}

.contact-wrap {
    background-color: $white;
    padding: calc(30px + (60 - 30) * ((100vw - 320px) / (1920 - 320))) calc(40px + (80 - 40) * ((100vw - 320px) / (1920 - 320)));
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    @include mq-max(md) {
       padding: 40px;
    }
    @include mq-max(sm) {
        padding: 30px;
     }
    .contact-title {
        text-align: center;
        color: $primary-color;
        position: relative;
        margin-bottom: 30px;
            &::after {
                position: absolute;
                content: '';
                width: 214px;
                height: 2px;
                border-radius: 2px;
                background-color: $primary-color;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        h3 {
            padding-bottom: 12px;
            font-weight: 700;
            text-transform: capitalize;
        }
    }
    .contact-form {
        .form-group {
            margin-bottom: calc(20px + (50 - 20) * ((100vw - 320px) / (1920 - 320)));
        }
        .form-control {
            height: auto;
            padding: 20px;
            border-color: $input-border;
            @include mq-max(sm) {
                padding: 15px;
            }
        }
        .btn-solid {
            box-shadow: none;
            border-radius: 4px;
        }
    }
    .contact-right {
        @include mq-max(lg) {
            margin-top: 30px;
        }
        .address-details {
            li {
                margin-bottom: calc(20px + (50 - 20) * ((100vw - 320px) / (1920 - 320)));
                .media {
                    align-items: center;
                    img {
                        margin-right: 30px;
                        [dir="rtl"] & {
                            margin-right: unset;
                            margin-left: 30px;
                        }
                        @include mq-max(sm) {
                            margin-right: 15px;
                            [dir="rtl"] & {
                                margin-right: unset;
                                margin-left: 15px;
                            }
                        }
                    }
                    .media-body {
                        h6 {
                            max-width: 330px;
                            .font-weight-bold {
                                color: $primary-color;
                            }
                        }
                    }
                }
            }
        }
        .social-icons {
            li {
                display: inline-block;
                a {
                    font-size: 25px;
                    color: $font-black-color;
                    @include mq-max(sm) {
                        font-size: 20px;
                    }
                    &:hover {
                        color: $primary-color;
                    }
                }
                + li {
                    margin-left: 30px;
                    [dir="rtl"] & {
                        margin-left: unset;
                        margin-right: 30px;
                    }
                }
            }
        }
        .contact-map {
            margin-top: 53px;
            @include mq-max(sm) {
                margin-top: 30px;
            }
            iframe {
                width: 100%;
                height: 390px;
                @include mq-max(sm) {
                    height: 300px;
                }
            }
        }
    }
}
