/**=====================
     payment page css start
==========================**/
.payment-section {
    position: relative;
    .shape-payment {
        position: absolute;
        top: 0;
        left: 0;
        [dir="rtl"] & {
            left: unset;
            right: 0;
        }
        @include mq-max(xl) {
            width: 50%;
        }
        @include mq-max(md) {
            top: 370px;
        }
    }
    .shape-payment1 {
        position: absolute;
        top: -250px;
        left: 0;
        width: 40%;
        [dir="rtl"] & {
            left: unset;
            right: 0;
        }
    }
    .build-details {
        padding-left: 50px;
        [dir="rtl"] & {
            padding-left: unset;
            padding-right: 50px;
        }
        @include mq-max(sm) { 
            padding-left: 0;
            [dir="rtl"] & {
                padding-left: unset;
                padding-right: 0;
            }
        }
    }
    .row {
        align-items: center;
    }
    .build-image {
        img {
            width: 80%;
            @include mq-max(lg) {
                width: 100%;
            }
            @include mq-max(md) {
                width: 60%;
            }
            @include mq-max(sm) {
                width: 100%;
            }
        }
        @include mq-max(md) { 
            text-align: center;
            order: -1;
            margin-bottom: 30px;
        }
    }
}
.odd-even-wrapper {
    > .row {
        align-items: center;
        + .row {
            padding-top: calc(40px + (60 - 40) * ((100vw - 320px) / (1920 - 320)));
        }
        > .text-right {
            @include mq-max(md) {
                order: -1;
                text-align: center !important;
            }
        }
        > .text-center {
            @include mq-max(md) {
                order: -1;
            }
        }
        .payment-img {
            img {
                height: 300px;
                @include mq-max(md) {
                    height: 200px;
                }
            }
            @include mq-max(md) {
                margin-bottom: 20px;
            }
        }
    }
    .payment-content {
        h3 {
            font-weight: 700;
            margin-bottom: 20px;
            @include mq-max(md) {
                margin-bottom: 10px;
            }
        }
        p {
            font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
            line-height: 1.35;
        }
    }

}