/**=====================
     testimonial css start
==========================**/
.testimonial-section {
    position: relative;
    .shape-testimonial {
        img {
            position: absolute;
        }
        .testi-image-1 {
            right: 0;
            top: -190px;
            [dir="rtl"] & {
                right: unset;
                left: 0;
            }
            @include mq-max(sm) {
                top: -110px;
                width: 80%;
            }
        }
        .testi-image-2 {
            left: 0;
            top: 0;
            [dir="rtl"] & {
                right: 0;
                left: unset;
            }
            @include mq-max(md) {
                display: none;
            }
        }
        .testi-image-3 {
            right: 0;
            top: -60px;
            width: 56%;
            z-index: -1;
            [dir="rtl"] & {
                right: unset;
                left: 0;
            }
        }
        .testi-image-4 {
            top: 0;
            left: 0;
            [dir="rtl"] & {
                left: unset;
                right: 0;
            }
        }
        .testi-image-5 {
            top: 0;
            left: 0;
            [dir="rtl"] & {
                left: unset;
                right: 0;
            }
        }
    }
    .title-section {
        margin-bottom: calc(30px + (70 - 30) * ((100vw - 320px) / (1920 - 320)));
    }
    .testimonial-wrapper {
        padding: 30px;
        border: 1px solid rgba(222, 222, 222, 1);
        background: $white;
        box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
        border-radius: 10px;
        height: 100%;
        z-index: 1;
        position: relative;
        min-height: 410px;
        margin-bottom: 30px;
        .rating-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 30px;
            > img {
                width: auto;
                height: 28px;
            }
            @include mq-max(xs) {
                display: block;
            }
        }
        .testimonial-details {
            padding-bottom: 60px;
        }
        @include mq-max(4xl) {
            min-height:390px;
        }
        @include mq-max(3xl) {
            padding: 20px 30px;
            min-height:380px;
        }
        @include mq-max(xl) {
            min-height:360px;
        }
        @include mq-max(lg) {
            min-height:380px;
        }
        @media (max-width: 880px) {
            min-height:300px;
        }
        @include mq-max(md) {
            padding: 18px 20px;
            min-height:320px;
        }
        @include mq-max(sm) {
            min-height:350px;
        }
        @include mq-max(xs) {
            min-height:400px;
        }
        @include mq-max(2xs) {
            min-height:440px;
        }
        ul.rating {
            display: flex;
            li {
                margin-right: 5px;
                img {
                    width: 18px;
                }
            }
            @include mq-max(xs) {
                margin-top: 10px;
            }
        }
        h6 {
            font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
            font-weight: 600;
            line-height: 28px;
            letter-spacing: 0.2px;
            color: #737373;
            @include mq-max(2xs) {
                line-height: 24px;
            }
        }
        .user {
            position: absolute;
            bottom: 30px;
            .user-content {
                span {
                    display: block;
                }
                span.name {
                    font-weight: 600;
                    color: $font-black-color;
                    font-size: 21px;
                    line-height: 28px;
                    @include mq-max(3xl) {
                        font-size: 14px;
                    }
                }
                span.position {
                    color: rgba(37, 43, 66, 1);
                    font-weight: 600;
                }
            }
            @include mq-max(md) {
                margin-top: 25px;
            }
        }
    }
}

@media (max-width:1630px) and (min-width: 1200px) {
    .testimonial-section {
        .row {
            > div {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
    }
}